#bgImg {
  background: url(background.jpg) no-repeat center center fixed;
  min-height: 97.2%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

body {
  background: none;
}

.container-fluid{
  background-color: #32347F;
  opacity: .9;
}

#logo {
  width: 20%;
  height: 160%;
}

.page-header {
  text-align: center;
}

.page-header small{
  font-size: 10px;
}

.pairs{
  display: block;
  text-align: center;
}

#priceFinder{
  margin: .5%;
}

#exchangeRate {
  font-weight: 700;
  font-size: 20px;
}

#price{
  float: left;
  display: inline-block;
  margin-left: 5%;
}

#cap {
  float: right;
  display: inline-block;
  margin-right: 5%;
}

#recentTx{
  padding: 0 0 0px 42%;
  background-color: whitesmoke;
}

#txs{
  text-align: center;
  list-style: none;
}

.panel-heading {
  text-align: center;
  font-weight: 700;
}

#reddit {
  border: 1px solid black;
}

#reddit td{
  border-bottom: 1px solid black;
}

#txs img {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.fa-arrow-circle-o-right:before{
  font-size: 18px;
  margin: 3px;
}

.jumbotron {
  margin: 0 auto;
  padding: 0;
  background-color: white;
}